@using Microsoft.AspNetCore.Identity
@using NoMoreWaste.Domain.DomainModels
@model IEnumerable<NoMoreWaste.Domain.DomainModels.MealBox>

<h1>Current boxes for your canteen</h1>

@inject SignInManager<IdentityUser> SignInManager

<div class="container">
    <div class="row">
        @foreach (var mealBox in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card h-100 hover-card">
                    <div class="card-body">
                        <h5 class="card-title">@mealBox.Name</h5>
                        <p class="card-text"><strong>Price:</strong> @mealBox.Price</p>
                        <p class="card-text"><strong>Canteen:</strong> @mealBox.CanteenId</p>
                        <p class="card-text"><strong>Pick-Up Date:</strong> @mealBox.PickUpDate.ToString("dd-MM-yyyy")</p>
                        <p class="card-text"><strong>Expire Date:</strong> @mealBox.ExpireDate.ToString("dd-MM-yyyy")</p>
                        <p class="card-text"><strong>City:</strong> @mealBox.City</p>
                        <p class="card-text"><strong>Meal Type:</strong> @mealBox.MealType</p>
                    </div>
                    <form asp-controller="" asp-action="" >
                        <input type="hidden" name="mealBoxId" value="@mealBox.Id" />
                        <button type="submit" class="button-cards">See Details!</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>