@using Microsoft.AspNetCore.Identity
@model NoMoreWaste.Domain.DomainModels.MealBox

<div class="container mt-5">
    <div class="card" style="max-width: 400px; margin: auto;">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">
                <strong>Products:</strong> @Model.Products <br />
                <strong>Price:</strong> @Model.Price.ToString("C") <br />
                <strong>Canteen:</strong> @Model.Canteen <br />
                <strong>Pick-Up Date:</strong> @Model.PickUpDate.ToString("dd-MM-yyyy") <br />
                <strong>Expire Date:</strong> @Model.ExpireDate.ToString("dd-MM-yyyy") <br />
                <strong>City:</strong> @Model.City <br />
                <strong>Meal Type:</strong> @Model.MealType
            </p>
            <a href="@Url.Action("Order", "MealBoxes", new { id = Model.Id })" class="btn btn-primary">Order Now</a>
        </div>
    </div>
</div>