@using System.Globalization
@using Microsoft.AspNetCore.Identity
@model NoMoreWaste.Domain.DomainModels.MealBox

<div class="container mt-5">
    <div class="card" style="max-width: 1000px; margin: auto;">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">
                <ul>
                    @foreach (var product in Model.Products)
                    {
                        <li>@product.Name</li>
                    }
                </ul>
                <strong>Price:</strong> @Model.Price.ToString("C", new CultureInfo("fr-FR")) <br/>
                <strong>Canteen:</strong> @ViewBag.CanteenName<br/>
                <strong>Pick-Up Date:</strong> @Model.PickUpDate.ToString("dd-MM-yyyy") <br/>
                <strong>Expire Date:</strong> @Model.ExpireDate.ToString("dd-MM-yyyy") <br/>
                <strong>City:</strong> @Model.City <br/>
                <strong>Meal Type:</strong> @Model.MealType
            </p>
        </div>
    </div>
</div>