@using Microsoft.AspNetCore.Identity
@using NoMoreWaste.Domain.DomainModels
@model IEnumerable<NoMoreWaste.Domain.DomainModels.MealBox>

<h1>Current reserved boxes for your canteen</h1>

@inject SignInManager<IdentityUser> SignInManager
@{
var mealTypeImages = new Dictionary<NoMoreWaste.Domain.DomainModels.Enums.MealType, string>
{
{ NoMoreWaste.Domain.DomainModels.Enums.MealType.Breakfast, "../Images/breakfast.jpg" },
{ NoMoreWaste.Domain.DomainModels.Enums.MealType.Lunch, "../Images/lunch.avif" },
{ NoMoreWaste.Domain.DomainModels.Enums.MealType.Dinner, "../Images/dinner.jpg" },
{ NoMoreWaste.Domain.DomainModels.Enums.MealType.Snack, "../Images/snack.jpg" },
{ NoMoreWaste.Domain.DomainModels.Enums.MealType.Bread, "../Images/bread.webp" },
{ NoMoreWaste.Domain.DomainModels.Enums.MealType.Drink, "../Images/drink.jpg" },
{ NoMoreWaste.Domain.DomainModels.Enums.MealType.Other, "../Images/other.jpg" }
};
}

<div class="container">
    <div class="row">

        <a asp-controller="MealBox" asp-action="CreateMealBox" class="button-top btn btn-primary">
            Add a new mealbox
        </a>
        @foreach (var mealBox in Model)
        {
        <div class="col-md-6 mb-4">
            <a asp-controller="MealBox" asp-action="GetById" asp-route-mealBoxId="@mealBox.Id" class="text-decoration-none" style="color: inherit;">
                <div class="card h-100 hover-card">
                    <div class="card-body">
                        <h5 class="card-title">
                            @mealBox.Name
                            @if (@mealBox.IsWarmFood)
                            {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cup-hot" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M.5 6a.5.5 0 0 0-.488.608l1.652 7.434A2.5 2.5 0 0 0 4.104 16h5.792a2.5 2.5 0 0 0 2.44-1.958l.131-.59a3 3 0 0 0 1.3-5.854l.221-.99A.5.5 0 0 0 13.5 6zM13 12.5a2 2 0 0 1-.316-.025l.867-3.898A2.001 2.001 0 0 1 13 12.5M2.64 13.825 1.123 7h11.754l-1.517 6.825A1.5 1.5 0 0 1 9.896 15H4.104a1.5 1.5 0 0 1-1.464-1.175"/>
                                <path d="m4.4.8-.003.004-.014.019a4 4 0 0 0-.204.31 2 2 0 0 0-.141.267c-.026.06-.034.092-.037.103v.004a.6.6 0 0 0 .091.248c.075.133.178.272.308.445l.01.012c.118.158.26.347.37.543.112.2.22.455.22.745 0 .188-.065.368-.119.494a3 3 0 0 1-.202.388 5 5 0 0 1-.253.382l-.018.025-.005.008-.002.002A.5.5 0 0 1 3.6 4.2l.003-.004.014-.019a4 4 0 0 0 .204-.31 2 2 0 0 0 .141-.267c.026-.06.034-.092.037-.103a.6.6 0 0 0-.09-.252A4 4 0 0 0 3.6 2.8l-.01-.012a5 5 0 0 1-.37-.543A1.53 1.53 0 0 1 3 1.5c0-.188.065-.368.119-.494.059-.138.134-.274.202-.388a6 6 0 0 1 .253-.382l.025-.035A.5.5 0 0 1 4.4.8m3 0-.003.004-.014.019a4 4 0 0 0-.204.31 2 2 0 0 0-.141.267c-.026.06-.034.092-.037.103v.004a.6.6 0 0 0 .091.248c.075.133.178.272.308.445l.01.012c.118.158.26.347.37.543.112.2.22.455.22.745 0 .188-.065.368-.119.494a3 3 0 0 1-.202.388 5 5 0 0 1-.253.382l-.018.025-.005.008-.002.002A.5.5 0 0 1 6.6 4.2l.003-.004.014-.019a4 4 0 0 0 .204-.31 2 2 0 0 0 .141-.267c.026-.06.034-.092.037-.103a.6.6 0 0 0-.09-.252A4 4 0 0 0 6.6 2.8l-.01-.012a5 5 0 0 1-.37-.543A1.53 1.53 0 0 1 6 1.5c0-.188.065-.368.119-.494.059-.138.134-.274.202-.388a6 6 0 0 1 .253-.382l.025-.035A.5.5 0 0 1 7.4.8m3 0-.003.004-.014.019a4 4 0 0 0-.204.31 2 2 0 0 0-.141.267c-.026.06-.034.092-.037.103v.004a.6.6 0 0 0 .091.248c.075.133.178.272.308.445l.01.012c.118.158.26.347.37.543.112.2.22.455.22.745 0 .188-.065.368-.119.494a3 3 0 0 1-.202.388 5 5 0 0 1-.252.382l-.019.025-.005.008-.002.002A.5.5 0 0 1 9.6 4.2l.003-.004.014-.019a4 4 0 0 0 .204-.31 2 2 0 0 0 .141-.267c.026-.06.034-.092.037-.103a.6.6 0 0 0-.09-.252A4 4 0 0 0 9.6 2.8l-.01-.012a5 5 0 0 1-.37-.543A1.53 1.53 0 0 1 9 1.5c0-.188.065-.368.119-.494.059-.138.134-.274.202-.388a6 6 0 0 1 .253-.382l.025-.035A.5.5 0 0 1 10.4.8"/>
                            </svg>
                            }
                            @if (@mealBox.EighteenPlus)
                            {
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M18 5h1v1a1 1 0 0 0 2 0V5h1a1 1 0 0 0 0-2h-1V2a1 1 0 0 0-2 0v1h-1a1 1 0 0 0 0 2M7 7v10a1 1 0 0 0 2 0V7a1 1 0 0 0-2 0m14.6 2a1 1 0 0 0-.78 1.18a9 9 0 1 1-7-7a1 1 0 1 0 .4-2A10.8 10.8 0 0 0 12 1a11 11 0 1 0 11 11a10.8 10.8 0 0 0-.22-2.2A1 1 0 0 0 21.6 9M11 9v1a3 3 0 0 0 .78 2a3 3 0 0 0-.78 2v1a3 3 0 0 0 3 3h1a3 3 0 0 0 3-3v-1a3 3 0 0 0-.78-2a3 3 0 0 0 .78-2V9a3 3 0 0 0-3-3h-1a3 3 0 0 0-3 3m5 6a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1Zm0-6v1a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1"/></svg>

                            }
                        </h5>
                        <p class="card-text">
                            <strong>Price:</strong> @mealBox.Price
                        </p>
                        <p class="card-text">
                            <strong>Canteen:</strong> @ViewBag.CanteenName
                        </p>
                        <p class="card-text">
                            <strong>Pick-Up Date:</strong> @mealBox.PickUpDate.ToString("dd-MM-yyyy")
                        </p>
                        <p class="card-text">
                            <strong>Expire Date:</strong> @mealBox.ExpireDate.ToString("dd-MM-yyyy")
                        </p>
                        <p class="card-text">
                            <strong>City:</strong> @mealBox.City
                        </p>
                        <p class="card-text">
                            <strong>Meal Type:</strong> @mealBox.MealType
                        </p>
                        <img src="@mealTypeImages[mealBox.MealType]" alt="@mealBox.MealType" class="img-fluid mealbox-image"/>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a asp-controller="MealBox" asp-action="UpdateMealBox" asp-route-mealBoxId="@mealBox.Id" class="button-cards btn btn-primary w-50">
                            Edit this box
                        </a>
                        <form asp-controller="MealBox" asp-action="DeleteMealBox" asp-route-mealBoxId="@mealBox.Id" method="post" class="w-50">
                            <button type="submit" class="button-danger w-100">
                                Delete this box
                            </button>
                        </form>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>